
<header>
    <div class="container">
        <a href="#" routerLink="/home" class="logo">Food Trecking</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="/">Login</a>
               
                </li>
                <li>
                    <a href="#" routerLink="/">Other</a>
          
                </li>
                <li>
                    <a href="#" routerLink="/cart-page">Cart(count)</a>
                    <!-- <a href="#" routerLink="/">Dummy</a> -->
                </li>
            </ul>
        </nav>
        
    </div>
</header>