.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem;
}
.container > *{
    min-width: 25rem;max-width: 40rem;
}
img{
    border-radius: 3rem;
    flex :1 0;
    object-fit: cover;
    height: 30rem;
    margin: 1rem;
}
.detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    border-radius: 3rem;
    padding: 2rem;
    color: black;
    margin-left: 1rem;
}
.detail .header{
    display: flex;
    justify-content: space-between;

}
.detail .name{
    font-size: 2rem;
    font-weight: bold;
    color: #e72929;
}
.detail .favourite{
    color: #e72929;
    font-size: 5rem;
}
.detail .favourite .not{
    color: gray;
}
.detail .rating{
    color: #e72929;
}
.detail .tags{
    font-size: 1.2rem; 
    display: flex;
    flex-wrap: wrap;
    margin: 1eem 0;
}
.detail .origins{
    display: flex;
    flex-wrap: wrap;
    margin: 1eem 0;
}
.detail .origins >span{
    padding: .5rem;
    font-size: 1.2rem;
    margin: .5rem .5rem .5rem 0;
    border-radius: 2rem;
    background-color: grey;
    color: white;
}
.detail .cooktime{
    margin: 1rem;
    
}
.detail .cooktime span{
    padding: .6rem 2rem .6rem 0;
    border-radius: 10rem;
    font-size: 1.3rem;
}
.detail .price{
    font-size: 1.8rem;
    margin: 0rem 1rem 1rem 0;
    color: red; 
    font-size: 1.5rem;
}
.detail .price::before{
    content: "Price:";
    color: grey;
    font-size: 1.5rem;
}
.detail button{
    color: white;
    background-color:red;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
    outline: none;
    width: 20rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
}
.detail button:hover{
    opacity: .9;
    cursor:pointer;
}